.button{
    padding: 15px;
    background-color: #00BCD4
}
.button2{
    padding: 10px;
    margin: 2px;
}
.button:hover{
    background-color: #00BCD4
}
.input{
    display: none;
}
.image{
    border-radius: 5%;
}
.loading{
    color: rgb(81, 81, 252);
    margin-right: 10px;
}