.container {
  display: flex;
  flex: 1;
  /* flex-direction: column; */
  justify-content: center;
  align-content: center;
  align-items: center;
}
.loading {
  color: green;
  margin: 10px;
}

.content {
  font-size: 18px;
  margin: 5px;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}
